{% extends "base.html" %} {%block title%}Triageur signup{% endblock %}
{% block content %}
    <form method="POST">
      <h3 align="center">Aanmelden</h3>
      <div class="form-group">
        <label for="key">Activeringscode</label>
        <input
          type="text"
          class="form-control"
          id="key"
          name="key"
        />
      </div>
      <div class="form-group">
        <label for="email">E-mailadres</label>
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
        />
      </div>
      <div class="form-group">
        <label for="password1">Wachtwoord</label>
        <input
          type="password"
          class="form-control"
          id="password1"
          name="password1"
        />
      </div>
      <div class="form-group">
        <label for="password2">Bevestig wachtwoord</label>
        <input
          type="password"
          class="form-control"
          id="password2"
          name="password2"
        />
      </div>
      <br />
      <button type="submit" class="btn btn-primary">Aanmelden</button>
    </form>
    {% endblock %}