{% extends "base.html" %}
{% block content %}
<br/>
<form method="POST">
    {{ form.hidden_tag() }}
    {% for field in form if field.name != 'csrf_token'  %}
        <div class="form-group">
            <label for="{{ field.id }}">{{ field.label }}</label>
            {{ field(class="form-control") }}
        </div>
    {% endfor %}

    <br />
    <div align="center">
        <button type="submit" name="submit" class="btn btn-primary">Opslaan</button>
        <button type="submit" name="view" class="btn btn-primary">View results</button>
    </div>
</form>
<br />
{% endblock %}